@import "./reset.css";

html,
body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  background: rgb(23, 184, 212);
  padding-top: 150px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: white;
  text-align: center;
}
.header-title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.header-turn {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.header-score {
  font-size: 2rem;
}

.display {
  width: 450px;
  height: 450px;
  position: relative;
  overflow: hidden;
}
.display-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.display-row {
  display: flex;
}
.display-space {
  border: 3px solid rgb(228, 207, 159);
  width: 150px;
  height: 150px;
}

.clicked {
  pointer-events: none;
  position: relative;
  font-size: 110px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.clicked.mark-o {
  color: rgb(9, 94, 109);
}
.clicked.mark-x {
  color: white;
}
